* {
    margin: 0px;
    padding: opx;
    box-sizing: border-box;
}

.container {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px 30px;
    grid-template-rows: 3fr 2fr 200px ;

}

.container .item{
    text-align: center;
    padding: 20px;
    background-color: burlywood;
    border: 5px solid rgb(42, 165, 89);
}

.Item1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.Item5 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.Item7 {
    grid-column-start: 1;
    grid-column-end: 4;
}

